@{
    ViewData["Title"] = "KontakKami";
}

<div class="welcome-section">
    <h1>Nomor Telepon: 0823833484949</h1>
    <h1>Email: RentalMobil@gmail.com</h1>
    <h1>About Us:</h1> 
    <p>Jasa rental mobil terbaik di Indonesia dengan harga termurah dan terjangkau/p>
</div>
